In [1]:
import pandas as pd
import numpy as np

from compare import Compare

In [2]:
dfx = pd.read_csv('./dummy/data3.csv')
dfy = pd.read_csv('./dummy/data2.csv')
cpare = Compare(dfx, dfy)

In [3]:
cpare.nans()

In [4]:
dfx = pd.read_csv('./dummy/data1.csv')
dfy = pd.read_csv('./dummy/data2.csv')
cpare = Compare(dfx, dfy)

In [5]:
cpare.values()

   col2        col3        col4        col5        col6
   self other  self other  self other  self other  self other
A   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   7.6   3.0
B   NaN   NaN   NaN   NaN   NaN   NaN   6.5   2.0   NaN   NaN
C   NaN   NaN   NaN   NaN   5.4   1.0   NaN   NaN   NaN   NaN
D   NaN   NaN   4.3   0.0   NaN   NaN   NaN   NaN   NaN   NaN
E   3.2  -1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

In [6]:
cpare.shape()

  col1        col2        col3        col4        col5        col6
  self other  self other  self other  self other  self other  self other
A  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   7.6   3.0
B  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   6.5   2.0   NaN   NaN
C  NaN   NaN   NaN   NaN   NaN   NaN   5.4   1.0   NaN   NaN   NaN   NaN
D  NaN   NaN   NaN   NaN   4.3   0.0   NaN   NaN   NaN   NaN   NaN   NaN
E  NaN   NaN   3.2  -1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

In [7]:
cpare.from_to()

          from   to
id col
A   col6   7.6  3.0
B   col5   6.5  2.0
C   col4   5.4  1.0
D   col3   4.3  0.0
E   col2   3.2 -1.0

In [8]:
cpare.side_by_side(ix='col1')

      col2  col3  col4  col5  col6  col2  col3  col4  col5  col6
      col1  col1  col1  col1  col1  col2  col2  col2  col2  col2
col1
2.1    3.2   4.3   5.4   6.5   7.6   3.2   4.3   5.4   6.5   7.6
2.1    3.2   4.3   5.4   6.5   7.6   3.2   4.3   5.4   6.5   7.6
2.1    3.2   4.3   5.4   6.5   7.6   3.2   4.3   5.4   6.5   7.6
2.1    3.2   4.3   5.4   6.5   7.6   3.2   4.3   5.4   6.5   7.6
2.1    3.2   4.3   5.4   6.5   7.6   3.2   4.3   5.4   6.5   7.6

In [ ]:
cpare.equality()